html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/*---------- common styles ---------- */
:root {
  --black: #212529;
  --primary-blue: #0d6efd;
  --secondary-gray: #6c757d;
  --card-gray: #55595c;
  --bg-album: #f8f9fa;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.fix-overflow {
  overflow: auto;
}

.center {
  text-align: center;
}
.m-auto {
  margin: 0 auto;
}
.mb-2 {
  margin-bottom: 2em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-05 {
  margin-bottom: 0.5em;
}
.mt-2 {
  margin-top: 2em;
}
.padding-1 {
  padding: 1em;
}
/*---------- main styles ---------- */
.container {
  max-width: 992px;
  margin: 0 auto;
}

.left-box {
  max-width: 400px;
}
.gray-txt {
  color: var(--secondary-gray);
  margin-top: 1em;
}
#nav {
  padding: 10px 0;
  background-color: var(--black);
  color: white;
}
.hide {
  opacity: 0;
  pointer-events: none;
  height: 0;
  animation-name: shrink;
  animation-duration: 1s;
  transition-timing-function: linear;
}
@keyframes shrink {
  0% {
    height: 106px;
  }

  100% {
    height: 0px;
  }
}
.show {
  pointer-events: auto;
  animation-name: drop-down;
  animation-duration: 1s;
  transition-timing-function: linear;
}
@keyframes drop-down {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    height: 106px;
    opacity: 1;
  }
}

#menuBtn {
  padding: 4px 12px;
  border: 1px solid var(--secondary-gray);
  background-color: transparent;
  cursor: pointer;
}
header nav ul {
  font-size: 0.7em;
  line-height: 1.2em;
}

svg {
  vertical-align: middle;
  padding-bottom: 5px;
}
.logo {
  padding-top: 8px;
}
.page-name {
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
}
#menu-img {
  width: 30px;
}

#about {
  padding: 5em 0;
  max-width: 456px;
  margin: auto;
  color: var(--secondary-gray);
}

#about a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.primary-action {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
  margin-right: 0.5em;
}
.secondary-action {
  background-color: var(--secondary-gray);
  border: 1px solid var(--secondary-gray);
}

#album {
  background: var(--bg-album);
}
.card {
  width: 33%;
  border: 1px solid var(--card-gray);
  display: inline-block;
}
.card-header {
  height: 225px;
  background-color: var(--card-gray);
  vertical-align: middle;
  line-height: 225px;
}
.card-header p {
  color: white;
}
.card-body {
  padding: 1em;
}

.p-align-start {
  text-align: start;
}

footer {
  padding: 2em 0;
  line-height: 1.5em;
}
